:root {
  --primary-color: #38FF14;
  --secondary-color: #0E0E10;
  --background-color:#F8F9FA;
  --text-color:#808080;
  --accent-color: #FFF500;

  --text-size: 18px;
  --subheading-size: 24px;
  --heading-size: 36px;

  --body-text-weight: 400;
  --subheading-weight: 700;
  --heading-weight: 900;
}


.App{
  color: var(--secondary-color);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
